.party-search {
    background-color: #2C2F33;
    min-height: Calc(100vh - 3rem);
    padding-top: 3rem;
}

.party-list-view {
    background-color: #545064;
    width: 60vw;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

.party-search-header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    color: white;
    margin: auto;
    text-align: center;
}

.search {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

.search input {
    border: none;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    outline: none;
    padding-left: 10px;
    width: 100%;
    min-height: 1.5rem;
    border-radius: 7px;
}

ul.list {
    list-style-type: none;
    width: 75%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

ul.list li {
    transform: scale(1.1);
}