.position-popup {
    background-color: #663a69;
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.position-popup ul {
    padding: 0;
}

.card {
    background-color: #c4746d;
    padding: 1rem;
    margin: 2rem;
}

.card h1 {
    text-align: center;
}