.partyCard {
    margin-bottom: 0.5rem;
    background-color: #2D293D;
    border-radius: 5px;
    min-height: 10vh;
    display: flex;
    align-items: center;
}

.partyName {
    overflow: hidden;
    font-size: 1.5rem;
    color: white;
}

a.partyName {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    text-decoration: none;
}

a:hover.partyName {  
    color: #808080;
}

.shield {
    background-image: url("../../assets/shield.svg");
    background-repeat: no-repeat;
    margin: 0;
    height: 5vh;
    width: 5vw;
    background-size: contain;
    background-position: center;
}

.openRoles {
    margin-left: auto;
    overflow: hidden;
    color: white;
    display: inline-block;
}

.iconBox:hover {
    transform: scale(1.1);
}

.iconBox {
    display: inline-block;
    position: relative;
}

.iconStyle {
    background-repeat: 'no-repeat';
    margin: '10px';
    min-width: '50px';
    min-height: '50px';
    background-size: 'contain';
    background-position: 'center';
}

.badge {
    position: absolute;
    top: 8px;
    right: 4px;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
    vertical-align: center;
    user-select: none;
}