.homepage h1 { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    color: #FFFFFF;
    line-height: 26.4px; 
    background-color: #23272A;
}



.homepage h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 1.5rem !important;
    font-weight: 5;
    color: #FFFFFF;
}

.homepage {
    background-color: #23272A;
    margin: 0;
    height: auto;
    overflow: hidden;
}

.left {
    float: left;
    margin-left: 3vw;
    padding: 20px;
    width: 50vw;
    text-align: left;
}

.right{
    clear: both;
    float: right;
    width: 30vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    text-align: right;
}

.right-no-clear {
    float: right;
    width: 30vw;
    margin-right: 10vw;
    text-align: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 24px; 
    margin-bottom: 100px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    color: #FFFFFF;
    line-height: 26.4px; 
    background-color: #23272A;
    list-style-type: none;
}

ul.right-no-clear li {
    margin-top: 5px;
}


a.custom-link {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 25px; 
    font-style: normal; 
    font-variant: normal; 
    color: #FFFFFF;
    background-color: #23272A;
    text-decoration: none;
}

a:hover.custom-link {  
    color: #808080;
}


.collab {
    background-image: url("../assets/Group 14.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10vw;
    margin-top: 5vh;
    width: 25vw;
    height: 40vh;
    float: right;
    overflow: auto;
}

.app {
    background-image: url("../assets/app.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 15vw;
    width: 25vw;
    height: 40vh;
    float: left;
    overflow: auto;
}


